    /* CSS Document */

    /**********************************************/

    /* -------- FONT USE ------------ */

    /****************************************************/

    @import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');


    /**********************************************/

    /* -------- Base Css ------------ */

    /****************************************************/

    /* -------- body defaulty ------------ */

    html,
    body {

        font-family: 'Lora', serif;
        font-size: 10px;
        background-color: #fdfdfd;
        color: #373737;
        overflow-x: hidden;
    }

    .container {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 50px;
    }

    ::selection {
        background: #554488;
        color: #ffffff;
    }

    ::-moz-selection {
        background: #554488;
        color: #ffffff;
    }


    body::-webkit-scrollbar {
        width: 0.8em;
        height: 50px;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #fdfdfd;

    }

    body::-webkit-scrollbar-thumb {
        background-color: #554488;
        border-radius: 20px;
    }


    /* -------- Text ------------ */

    h1,h2,h3,h4,h5,h6 {
        margin: 1.8rem 0rem 0.5rem;
        font-family: Montserrat;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;
    }

    h1 {
        font-size: 5.7220458984375em;
        line-height: 4.6rem;
        }

    h2 {
        font-size: 3.662109375em;
        line-height: 4rem;
        }

    h3 {
        font-size: 2.9296875em;
        line-height: 3.8rem;
        }

    h4 {
        font-size: 2.34375em;
        line-height: 3.5rem;
        }

    h5 {
        font-size: 2.3rem;
        line-height: 3.3rem;
        padding: 0px 17px;
        }

    h6 {
        font-size: 1.875em;
        line-height: 3rem;
        }

    p {
        margin-bottom: 2.3rem;
        font-family: Lora;
        font-size: 1.3em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }

   

    a {
        color: #fdfdfd;
        font-family: Lora;
        font-size: 1em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }

    a:hover {
        color: #fdfdfd;
    }


    ul,
    ol {
        font-family: Lora;
        font-size: 1.5em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }

    /* -------- Grid ------------ */

    .refgrid {
        background-color: blueviolet;
    }


    .sidebar {
        padding: 25px;
    }

    .leftside {
        position: static;
    }

   
    /* -------- GALLERY  ------------ */

    .gallery_image img {
        width: 100%;
        margin-bottom: 20px;
    }
.side-group+.fa{
    width: 30px;
}
    .fa {
        padding: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-behance,
    .fa-instagram {
        background: #3e3e3e;
        color: #fdfdfd;
    }

    .fa-facebook:hover {
        background: #3B5998;
        color: white;
    }

    .fa-twitter:hover {
        background: #55ACEE;
        color: white;
    }

    .fa-behance:hover {
        background: #0057ff;
        color: white;
    }

    .fa-instagram:hover {
        background: #125688;
        color: white;
    }


 .info-group {
        display: flex;
        /*border: 1px solid #000; */
        padding: 5px 10px;
        margin: 5px 0px;
    }

    .info-group:hover {
        box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
        background: rgba(255, 255, 255, 0.4);
        border-bottom: 3px solid #554488;

    }

    .info-details {
        padding: 15px 10px;
    }

    .info-title {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 1.2em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;
    }

    .info span {
        font-size: 1.3em;
    }

    .social-group {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid #000;*/
        padding: 5px 10px;
        margin: 5px 0px;
    }

span.info-date {
    padding: 5px 10px;
 margin-right: 10px;
    background-color: #3e3e3e;
    color: #fefefe;
}

.info-internship {
    padding: 10px 0px;
    font-weight: bold;
}

.info-graduation {
    padding: 10px 0px;
}

.info-group img {
    width: 100%;
}
.Certificatelable{
 margin: 10px 0px;   
}

.jumbotron{
    background:url(../image/cool-background.svg);
    
    background-size:cover;
    border-radius: 0px !important;
    background-position: bottom;
    margin: 0px;
    padding-left: 25px !important;
}

.portfoliologo{
    width: 100%;
}


.gotoTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
        z-index: 100000000;
}

.gotoTop button:hover{
        color: #554488;
     box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
        background: rgba(255, 255, 255, 0.4);
        border: 3px solid #554488;

}

.gotoTop button{
    border: 0px;
    background: #554488;
    color: #ffffff;
}
nav{
    margin: 0px auto;
    padding: 10px 20px;
}

nav .container{
    margin-bottom: 0px;
}
nav a{
color: #3e3e3e;
        font-family: Montserrat;
        font-size: 1em;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    text-transform: uppercase;
}


.navbar-toggle .icon-bar{
        font-family: Montserrat;
text-transform: uppercase;
    font-size: 1em;
        
    border:  2px solid #3e3e3e;
    width: auto;
    height: auto;
    padding: 5px;
    
}
.navbar-toggle{
    margin: 0px;
}

.navbar-nav .open .dropdown-menu li a {
    padding: 10px 15px;
}

.collapse {
    display: block; /* set display to none in media querries at xs sxreen */
} 

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus,.nav > li > a:hover, .nav > li > a:focus,.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
        background-color: #554488;
    color: #ffffff;
}

.navbar-brand:hover, .navbar-brand:focus{
    color:#554488;
    cursor: pointer;
    
}


/* contact us Form Base */

  

/* (5.2.2) Placeholder Text */

    ::-webkit-input-placeholder {
        font-size: 15px;
    }

    ::-moz-placeholder {
        font-size: 15px;
    }

    :-ms-input-placeholder {
        font-size: 15px;
    }

    ::placeholder {
        font-size: 15px;
    }
  *:focus {
        outline: none;
    }


/* (5.2.3) Form Textarea */
    textarea {
        display: inline;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 4px;
        resize: none;
        width: 100%;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
        line-height: 1.5em;
        overflow-y: auto;
        overflow-x: hidden;
            background: #fdfdfd;
    }

    textarea:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

/* (5.2.4) Form Textfeild for User Name */

    .first-line input[type="text"] {
        display: inline;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
            background: #fdfdfd;
    }
    input[name="username"] {
        margin-right: 20px;

    }
    input[type="text"] {
        display: block;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
            background: #fdfdfd;
    }

    input[type="text"]:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

/* (5.2.5) Form Textfeild for Email */
    .first-line input[type="email"] {
        display: inline;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
            background: #fdfdfd;
    }

    input[type="email"]:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

/* (5.2.6) Form Button */

    input[type="submit"] {
        /*position: relative;
  left:250px;*/
        margin-top: 20px;
        width: 150px;
        height: 32px;
        border: none;
        border-radius: 2px;
        color: #FFF;
        text-transform: uppercase;
        transition: 0.1s ease;
        cursor: pointer;
        font-size: 1.2EM;
        padding: 5px 10px;
    margin-right: 10px;
    background-color: #3e3e3e;
    }

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

.copyright{
    background: #3e3e3e;
    padding: 10px 50px;
    color: #ffffff;
}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left:  70%;
    right: 0;
    height: 20%;
    width: 25%;
    opacity: 0.4;
    transition: .5s ease;
    background-color: #3e3e3e;
}

.gallery_image:hover .overlay  {
  opacity: 1;
  background-color: #554488;
}

.text {
  color: #ffffff;
  font-size: 0.8em;
  line-height: 1.5em;

  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*--start-responsive-design--*/
/*
@media (max-width:1440px) {}

@media (max-width:1280px) {}

@media (max-width:1080px) {
    /*.menu--iris .menu__item {
        margin: 0 0.3em;
    }

}
*/
/*
@media (max-width:1050px) {}

@media (max-width:1024px) {}

@media (max-width:991px) {
    
}

@media (max-width:800px) {}
*/

@media (max-width:768px) {

    .jumbotron{
    background-size: auto;
   }
    .social-group{
 justify-content: end   
    } 
        
     h1 {
        font-size: 4.2em;
line-height: 5.8rem;        }

    
}


@media (max-width:767px) {
    .collapse {
    display: none; /* set display to none in media querries at xs sxreen */
} 
}
   

/*
@media (max-width:667px) {}

@media (max-width:640px) {}

@media (max-width:600px) {}

@media (max-width:568px) {}

@media (max-width:480px) {}

@media (max-width:414px) {}

@media (max-width:384px) {}
*/

@media (max-width:375px) {
    h1 {
        font-size: 3.5em;
        line-height: 4.8rem;        
        }
}
/*
@media (max-width:320px) {
 }
 */