    /* CSS Document */

    /**********************************************/

    /* -------- FONT USE ------------ */

    /****************************************************/

    @import url('https://fonts.googleapis.com/css?family=Montserrat:700&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');


    /**********************************************/

    /* -------- Base Css ------------ */

    /****************************************************/

    /* -------- body defaulty ------------ */

    html,
    body {

        font-family: 'Lora', serif;
        font-size: 10px;
        background-color: #fdfdfd;
        color: #373737;
overflow-x: hidden;
    }


    ::selection {
        background: #554488;
        color: #ffffff;
    }

    ::-moz-selection {
        background: #554488;
        color: #ffffff;
    }

    .container {
        margin-bottom: 50px;
    }

    body::-webkit-scrollbar {
        width: 0.8em;
        height: 50px;
    }

    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #fdfdfd;

    }

    body::-webkit-scrollbar-thumb {
        background-color: #554488;
        border-radius: 20px;
    }

    button {
        border: 2px solid #3e3e3e;
        padding: 8px;
        width: 200px;
        font-size: 1.5em;
        background-color: #3e3e3e;
        color: #fdfdfd;
    }

.bold_text span{
    font-style: italic;
    font-weight: 700;
}
    /* -------- Text ------------ */

    h1 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 5.7220458984375em;
        line-height: 6.8999999999999995rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;
    }

    h2 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 4.57763671875em;
        line-height: 4.6rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;

    }

    h3 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 3.662109375em;
        line-height: 4.6rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;

    }

    h4 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 2.9296875em;
        line-height: 4.6rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;

    }

    h5 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 2.34375em;
        line-height: 4.6rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;
    }

    h6 {
        margin-bottom: 2.3rem;
        font-family: Montserrat;
        font-size: 1.875em;
        line-height: 2.3rem;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0em;
        text-transform: uppercase;

    }

    p {
        margin-bottom: 2.3rem;
        font-family: Lora;
        font-size: 1.5em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }

a {
        color: #fdfdfd;
        font-family: Lora;
        font-size: 1em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }
a:hover {
        color: #fdfdfd;
    }


    ul,
    ol {
        font-family: Lora;
        font-size: 1.5em;
        line-height: 2.3rem;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 0em;
    }

/* -------- Grid ------------ */

.refgrid{
    background-color: blueviolet;
}
    /* -------- WHY CHOOSE ME - LIST HORIZONTAL DISPLAY ------------ */

    li {
        float: left;
        margin: 10px 20px;
        list-style-type: decimal;
        width: 150px;
    }




    /* -------- FACILITY  ------------ */

    .facility_icons_bg {
        width: 170px;
        margin: 15px;
        padding: 10px;
        border-bottom: 3px solid #fdfdfd;
        float: left;
        text-align: center;
    }

    .facility_icons_bg p {
        margin-bottom: 0px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .facility_icons_bg i {
        margin: 15px;
        /*        border: 3px solid #c9c9c9; */
        border-radius: 50px;
    }

    .facility_icons_bg:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
        background: rgba(255, 255, 255, 0.4);
        border-bottom: 3px solid #554488;
    }


    /* -------- BLOG  ------------ */

    .box button {
        display: block;
        position: static;
        left: 0;
        bottom: 0;
        width: 100%;
        border-radius: 0;
        padding: 8px 0;
    }


    .blog_post {
        background: rgba(0, 0, 0, 0.01);
        margin: 10px 0px;

    }

    .blog_post span {
        font-weight: 700;
        background: rgba(71, 115, 185, 0.15);
        padding: 0px 4px;

    }

    .blog_post p {
        padding: 10px;
        min-height: 70px;
    }

    .blog_post img {
        width: 100%;
        margin-bottom: 10px;
    }

    .blog_post button {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.01);
        color: #3e3e3e;
    }

    .blog_post button:hover {
        border: 2px solid rgba(71, 115, 185, 0.12);
        background: #554488;
        color: #fdfdfd;
    }

    #our_ethos ul {
        padding: 0px 20px;
    }

    #our_ethos li {
        margin: 0px;
        list-style-type: decimal;
        width: 75%;
    }

    /* -------- GALLERY  ------------ */

    .gallery_image img {
        width: 100%;
        margin-bottom: 20px;
    }

    /* -------- FOOTER  ------------ */

    #footer {
        background-color: #3E3E3E;
        color: #fdfdfd;
    }

    .fa {
        padding: 10px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
    }

    .fa-facebook,
    .fa-twitter,
    .fa-youtube-play,
    .fa-instagram {
        background: #fdfdfd;
        color: #3e3e3e;
    }

    .fa-facebook:hover {
        background: #3B5998;
        color: white;
    }

    .fa-twitter:hover {
        background: #55ACEE;
        color: white;
    }

    .fa-youtube-play:hover {
        background: #bb0000;
        color: white;
    }

    .fa-instagram:hover {
        background: #125688;
        color: white;
    }

    .footer-menu > ul > li,
    .footer_social_media > ul > li {
        margin: 5px 0px;
        list-style-type: none;
    }

    .footer-menu > ul,
    .footer_social_media > ul {
        padding: 0px;
    }

    .footer_social_media > ul > li {
        width: 40px;
        margin: 0px 10px;
    }

    .footer_social_media > ul > li > a:hover {
        color: #fdfdfd;
        padding: 0px;
        border: none;
        text-decoration-line: none;
    }

    .footer_section > .container {
        margin-bottom: 0px;
    }


    /**********************************************/

    /* -------- CONTACT US PAGE ------------ */

    /****************************************************/

    .confused_reason {
        font-size: 1.8em;
        font-weight: 700;
    }



    ::-webkit-input-placeholder {
        font-size: 15px;
    }

    ::-moz-placeholder {
        font-size: 15px;
    }

    :-ms-input-placeholder {
        font-size: 15px;
    }

    ::placeholder {
        font-size: 15px;
    }

    .contact_us_sec a {
        color: #3e3e3e;
    }

    .contact_us_sec_social > ul > li {
        margin: 5px 0px;
        list-style-type: none;
    }

    .contact_us_sec_social > ul {
        padding: 0px;
    }

    .contact_us_sec_social > ul > li {
        width: 40px;
        margin: 0px 10px;
    }

    .contact_us_sec_social > ul > li > a:hover {
        color: #fdfdfd;
        padding: 0px;
        border: none;
        text-decoration-line: none;
    }

    /* -----**---- form ---------**------- */

    *:focus {
        outline: none;
    }


    #login-box {
        position: relative;
        height: 350px;
        background: #F5F5F5;
        border-radius: 2px;
    }

    .left {
        position: absolute;
        top: 0;
        left: 0;
        box-sizing: border-box;
        padding: 20px 40px;
        /* width: 750px;
  height: 400px;
    */
    }

    .left form {
        text-align: center
    }

    textarea {
        display: inline;
        background-color: #F5F5F5;
        box-sizing: border-box;
        margin-bottom: 5px;
        padding: 4px;
        resize: none;
        width: 100%;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
        line-height: 1.5em;
        overflow-y: auto;
        overflow-x: hidden;
    }

    textarea:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }


    .first-line input[type="text"] {
        display: inline;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
    }

    .first-line input[type="email"] {
        display: inline;
        background-color: #F5F5F5;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
    }

    input[name="username"] {
        margin-right: 20px;

    }

    input[type="email"]:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

    input[type="text"] {
        display: block;
        background-color: #F5F5F5;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 100%;
        height: 32px;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
    }

    input[type="text"]:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

    input[type="submit"] {
        /*position: relative;
  left:250px;*/
        margin-top: 20px;
        width: 150px;
        height: 32px;
        background: #3e3e3e;
        border: none;
        border-radius: 2px;
        color: #FFF;
        text-transform: uppercase;
        transition: 0.1s ease;
        cursor: pointer;
        font-size: 12px;
    }

    input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    #contact {
        background: #f5f5f5;
    }

    #contact .container {
        margin-bottom: 0px;
    }

    .contact_us_sec p {
        line-height: 2em;

    }

/*    .contact_us_sec > p > a:hover {
        color: #3e3e3e;
        border-left: 10px solid #3e3e3e;
        border-bottom: 1px solid #3e3e3e;
        text-decoration-line: none;
    }
*/
    .contact_us_sec_social .fa-facebook {
        background: #3e3e3e;
        color: #f5f5f5;
    }

    .contact_us_sec_social .fa-twitter {
        background: #3e3e3e;
        color: #f5f5f5;
    }

    .contact_us_sec_social .fa-youtube-play {
        background: #3e3e3e;
        color: #f5f5f5;

    }

    .contact_us_sec_social .fa-instagram {
        background: #3e3e3e;
        color: #f5f5f5;
    }

    .contact_us_sec_social .fa:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    }

    .contact_us_sec_social .fa-facebook:hover {
        background: #3B5998;
        color: white;
    }

    .contact_us_sec_social .fa-twitter:hover {
        background: #55ACEE;
        color: white;
    }

    .contact_us_sec_social .fa-youtube-play:hover {
        background: #bb0000;
        color: white;
    }

    .contact_us_sec_social .fa-instagram:hover {
        background: #125688;
        color: white;
    }


    #admission_process ul {
        padding: 0px 20px;
    }

    #admission_process li {
        margin-bottom: 10px;
        list-style-type: decimal;
        width: 83%;
    }


     ul li {
        margin-bottom: 10px;
        width: 90%;
        list-style-type: decimal;
    }

     ul li + ul li {
        list-style-type: none;
        font-size: 0.7em;
    }

     ul li + ul {
        padding: 0px;
    }

    i.fa.fa-caret-right {
        margin: 0px;
        padding: 5px;
        width: 3%;
    }


    .Subscribe_form input[type="email"] {
        display: inline;
        background-color: #F5F5F5;
        box-sizing: border-box;

        padding: 15px;
        width: 100%;
        border: none;
        border-bottom: 2px solid #AAA;
        transition: 0.2s ease;
    }

    .Subscribe_form input[type="email"]:focus {
        border-bottom: 2px solid #554488;
        color: #3e3e3e;
        transition: 0.2s ease;
    }

    .Subscribe_form input[type="Subscribe_button"] {
        width: 50%;
        background: #554488;
        border: none;
        text-align: center;
        padding: 10px;
        color: #FFF;
        text-transform: uppercase;
        transition: 0.1s ease;
        cursor: pointer;
        font-size: 1.2em;
        margin-top: 10px;
    }

    .Subscribe_form input[type="submit"]:hover,
    input[type="submit"]:focus {
        opacity: 0.8;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }

    .Subscribe_form input[type="submit"]:active {
        opacity: 1;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
        transition: 0.1s ease;
    }


    /* -------- CAMPUS FEATURE  ------------ */

    .campus_feature_bg {
        width: 500px;
        margin: 15px;
        padding: 10px;
        border-bottom: 3px solid #fdfdfd;
        float: left;
        text-align: center;
    }

    .campus_feature_bg p {
        text-transform: none;
        letter-spacing: 1px;
        font-size: 1.2em;
    }

    .campus_feature_bg span {
        font-size: 1em;
        margin-bottom: 20px;
        font-weight: 700;

    }

    .campus_feature_bg i {
        margin: 15px;
        border-radius: 50px;
    }

    .campus_feature_bg li:hover {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
        background: rgba(255, 255, 255, 0.4);
        border-bottom: 3px solid #554488;
    }

    .campus_feature_bg li {
        list-style: decimal-leading-zero;
        font-size: 1.2em;
        margin: 0 0 0 40px;
        text-align: left;
        padding-left: 10px;
        width: 80%;

    }

    .campus_feature_bg li span {
        font-size: 0.8em;
    }

    .campus_feature_bg ol {
        margin: 0px;
        padding: 0px;
    }

    #our_guideline a {
        color: #3e3e3e;
    }

    #our_guideline a:hover {
        color: #3e3e3e;
        padding: 0px 10px;
        border-left: 5px solid #3e3e3e;
        border-bottom: 1px solid #3e3e3e;
        text-decoration-line: none;
    }

    #campus_feature li {
        margin-bottom: 0px;
        list-style-type: decimal;
        width: 83%;
        padding-left: 10px;
    }


    /**********************************************/

    /* -------- Gallery Video Player ------------ */

    /****************************************************/

    .title {
        width: 100%;
        max-width: 854px;
        margin: 0 auto;
    }

    .caption {
        width: 100%;
        max-width: 854px;
        margin: 0 auto;
        padding: 20px 0;
    }

    /*.container {
  			width: 100%;
  			max-width: 854px;
  			min-width: 440px;
  			background: #fff;
  			margin: 0 auto;
  		}
*/

    /*  VIDEO PLAYER CONTAINER
 		############################### */

    .vid-container {
        position: relative;
        padding-bottom: 52%;
        padding-top: 30px;
        height: 0;
    }

    .vid-container iframe,
    .vid-container object,
    .vid-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }


    /*  VIDEOS PLAYLIST 
 		############################### */

    .vid-list-container {
        width: 100%;
        overflow: hidden;
        margin-top: 20px;
        padding-bottom: 20px;
        padding-left: 2%;
    }

    .vid-list {
        width: 1344px;
        position: relative;
        top: 0;
        left: 0;
    }

    .vid-item {
        display: block;
        width: 148px;
        height: 148px;
        float: left;
        margin: 0;
        padding: 10px;
    }

    .thumb {
        position: relative;
        overflow: hidden;
        height: 84px;
    }

    .thumb img {
        width: 100%;
        position: relative;
        top: -13px;
    }



    .vid-item .desc {
        color: #3e3e3e;
        font-size: 15px;
        margin-top: 5px;
    }

    .vid-item:hover {
        background: #eee;
        cursor: pointer;

    }

    .arrows {
        position: relative;
        width: 100%;
    }

    .arrow-left {
        margin-top: 20px;
        color: #fff;
        background: #777;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 99;
        cursor: pointer;
    }

    .arrow-right {
        margin-top: 20px;
        color: #fff;
        background: #777;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 100;
        cursor: pointer;
    }


    .arrow-left:hover {
        background: #554488;
    }

    .arrow-right:hover {
        background: #554488;
    }


    @media (max-width: 624px) {
        body {
            margin: 15px;
        }

        .caption {
            margin-top: 40px;
        }

        .vid-list-container {
            padding-bottom: 20px;
        }

        /* reposition left/right arrows */
        .arrows {
            position: relative;
            margin: 0 auto;
            width: 96px;
        }

        .arrow-left {
            left: -17px;
            top: 0px;
        }

        .arrow-right {
            right: -17px;
            top: 0px;
        }
    }

    }

    /**********************************************/

    /* -------- mobile screen till 720px ------------ */

    /****************************************************/

    @media screen and (max-width: 720px) {
        h1 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 6.103515625em;
            line-height: 9rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;

        }

        h2 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 4.8828125em;
            line-height: 6rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        h3 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 3.90625em;
            line-height: 6rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        h4 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 3.125em;
            line-height: 6rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        h5 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 2.5em;
            line-height: 3rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        h6 {
            margin-bottom: 3rem;
            font-family: Montserrat;
            font-size: 2em;
            line-height: 3rem;
            font-weight: 600;
            font-style: normal;
            letter-spacing: 0em;
            text-transform: uppercase;
        }

        p {
            margin-bottom: 3rem;
            font-family: Lora;
            font-size: 1.6em;
            line-height: 3rem;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0em;
        }
    }








    /****************************************************/

    /************ Home Page ***************/

    /****************************************************/
#imagesection img{
    height: 150px;
}
.bgimg_gallery{
        background-image: url(../image/slider/phone-1412636_1920.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
}

.bgimg_academics{
        background-image: url(../image/slider/banner0.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
}
.bgimg_about{
        background-image: url(../image/slider/angel-school.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
        }

.bgimg_admission{
        background-image: url(../image/slider/banner0a.jpg);
        background-size: cover;
        background-position: center 82%;
        width: 100%;
        height: 300px;
        }


.bgimg_contact{
        background-image: url(../image/slider/banner.jpg);
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;

}

    /* ----**---- Header Section ------**------ */

    /*-1. Slider -*/

    /*-- 1.1 banner-text --*/

    .header-w3layouts {
        position: absolute;
        top: 0;
        z-index: 99;
        text-align: center;
        left: 0;
        width: 100%;
    }

    .agileits-banner-info h3 {
        color: #fff;
        font-size: 6em;
        margin: 0.1em 0 0.2em 0;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 700;
        text-shadow: 1px 1px 2px rgb(12, 12, 12);
        -webkit-text-shadow: 1px 1px 2px rgb(12, 12, 12);
        -o-text-shadow: 1px 1px 2px rgb(12, 12, 12);
        -moz-text-shadow: 1px 1px 2px rgb(12, 12, 12);

    }

    .agileits-banner-info h3 span {
        background: #2529d8;
        padding: 0 15px;
    }

    .agileits-banner-info {
        text-align: left;
        padding: 18em 0 0em;
    }

    .agileits-banner-info p {
        color: #e2dfdf;
        font-size: 1em;
        line-height: 2.2em;
        letter-spacing: 2px;
        font-weight: 500;
        width: 49%;
        text-align: left;
    }

    .agileits_w3layouts_more {
        position: relative;
    }

    .agileits_w3layouts_more a {
        font-size: 17px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 4px;
        position: relative;
    }

    .agileits-banner-info span {
        background: #E02C2E;
        padding: 0.5em 2em;
        color: #fff;
        font-size: 1.1em;
        padding: 5px 2em;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    /*-- //banner-text --*/

    /*-- 2. banner-top --*/

    .w3layouts-banner-top {
        background: url(../image/slider/banner.jpg) no-repeat 0px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 700px;
        width: 100%;
    }

    .w3layouts-banner-top1 {
        background: url(../image/slider/banner1.jpg) no-repeat 0px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 700px;
    }

    .w3layouts-banner-top2 {
        background: url(../image/slider/banner2.jpg) no-repeat 0px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 700px;
    }

    .w3layouts-banner-top3 {
        background: url(../image/slider/banner3.jpg) no-repeat 0px 0px;
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        min-height: 700px;
    }

    /*-- //banner-top --*/

    /*  Slider */

    .mySlides {
        display: none
    }


    /* Slideshow container */

    .slideshow-container {
        max-width: 100%;
        height: 100%;
        position: relative;
        margin: auto;
    }

    /* The dots/bullets/indicators */

    .dot {
        position: relative;
        bottom: 50px;
        height: 8px;
        width: 8px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
        border: 1px solid #fff;
    }

    /* Fading animation */

    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 10s;
        animation-name: fade;
        animation-duration: 10s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .8
        }
        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .8
        }
        to {
            opacity: 1
        }
    }
/* **************** NAV BAR CSS************************* */
/*
#menu a{
        font-family: Montserrat;
    text-transform: uppercase;
}
*/
nav{
    text-align: center;
    }
li.nav-item {
    margin: 10px 7px;
}
nav li {
display:inline;
font-weight: bold;
}


.navbar{
/*    border-bottom: 1px solid #554488;    */
    background: #f5f5f5;
    height: 70px;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    color: #ffffff;
}

.navbar-nav{
    display: flex;
 
}
.navbar-toggler{
 visibility: hidden;   
}


.nav > li{
    width: 150px;   
}

nav > .container, header > .container{
width: 100%;
    padding: 0px;
    margin: 0px;
}

.logo{
    margin-top: 20px;
    margin-left: 40px;
}

.navbar-nav.navbar-center {
/* position: relative;
    left: 50%;
    transform: translatex(-50%);
*/
background:none;    
    
}
a.dropdown-item{
     display: block;
    text-decoration: none;
    padding: 12px 23px;
    color: #777;
    background: #ffffff;
    text-align: left;
    position: relative;
    }
a.dropdown-item:hover{
color: #554488;
}


.navbar-nav > li > a{
    color: #777;
    text-decoration: none;
}

.navbar-nav > li > a:hover{
color: #554488;
    
}




.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #FFF;
  /*height: 100px;*/

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  
  /* == */
/*  width: 250px;  */
  /* == */
}
.mcd-menu li {
  position: relative;
  /*float:left;*/
    display: inline-flex;
    padding: 9px 0px;
}


.mcd-menu li a {
  display: block;
  text-decoration: none;
  padding: 5px 10px;
  color: #777;
  /*text-align: center;
  border-right: 1px solid #E7E7E7;
  background: #ffffff;
 border-bottom: 1px solid #EEE;
*/
  /* == */
  text-align: left;
  position: relative;
    /* == */
}
.mcd-menu li ul a:hover {
 border-bottom: 1px solid #554488;
    
}
.mcd-menu li a i {
  /*display: block;
  font-size: 30px;
  margin-bottom: 10px;*/
  
  /* == */
  float: left;
  font-size: 18px;
  margin: 0 10px 0 0;
  /* == */
  
}

.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
    text-align: center;
}
.mcd-menu li a i, .mcd-menu li a strong, .mcd-menu li a small {
  position: relative;
  
  transition: all 300ms linear;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;
}
.mcd-menu li:hover > a i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}
.mcd-menu li:hover a strong {
    opacity: 1;
  -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}
.mcd-menu li:hover a small {
    opacity: 1;
-webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;}

.mcd-menu li:hover > a {
  color: #554488;
    
}
.mcd-menu li a.active {
  position: relative;
  color: #554488;
  border:0;
  /*border-top: 4px solid #554488;
  border-bottom: 4px solid #554488;
  margin-top: -4px;*/
  box-shadow: 0 0 5px #DDD;
  -moz-box-shadow: 0 0 5px #DDD;
  -webkit-box-shadow: 0 0 5px #DDD;
  
  /* == */
  border-left: 4px solid #554488;
  border-right: 4px solid #554488;
  margin: 0 -4px;
  /* == */
}
.mcd-menu li a.active:before {
  content: "";
  position: absolute;
  /*top: 0;
  left: 45%;
  border-top: 5px solid #554488;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: 42%;
  left: 0;
  border-left: 5px solid #554488;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  /* == */
}

/* == */
.mcd-menu li a.active:after {
  content: "";
  position: absolute;
  top: 42%;
  right: 0;
  border-right: 5px solid #554488;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
/* == */

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}
@-webkit-keyframes moveFromLeft {
    from {
        opacity: 0;
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
} 

@-webkit-keyframes moveFromRight {
    from {
        opacity: 0;
        -webkit-transform: translateX(-200%);
        -moz-transform: translateX(-200%);
        -ms-transform: translateX(-200%);
        -o-transform: translateX(-200%);
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
} 



.mcd-menu li ul,
.mcd-menu li ul li ul {
  position: absolute;
  height: auto;
  /* min-width: 200px; */
  padding: 0;
  margin: 0;
  background: #FFF;
    font-size: 14px;
  /*border-top: 4px solid #554488;*/
  opacity: 0;
  visibility: hidden;
  transition: all 300ms linear: ;
  -o-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -webkit-transition: all 300ms linear;

/*top: 130px;*/
  z-index: 1000;
  
  /* == */
  /*left:280px; */
    top: 60px;
  border-top: 4px solid #554488;
  /* == */
}
.mcd-menu li ul:before {
  content: "";
  position: absolute;
  /*top: -8px;
  left: 23%;
  border-bottom: 5px solid #554488;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;*/
  
  /* == */
  top: -12px;
  left: 35px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #554488;
  /* == */
}
.mcd-menu li:hover > ul,
.mcd-menu li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  /*top: 100px;*/
  
  /* == */
  left:0px;
    top:60px;
  /* == */
}
/*.mcd-menu li ul li {
  float: none;
}*/
.mcd-menu li ul li a {
  padding: 10px;
  text-align: left;
  border: 0;
  border-bottom: 1px solid #EEE;
  width: 150px;
  /* == */
  height: auto;
  /* == */
}
.mcd-menu li ul li a i {
  font-size: 16px;
  display: inline-block;
  margin: 0 10px 0 0;
}
.mcd-menu li ul li ul {
  left: 230px;
  top: 0;
  border: 0;
  border-left: 4px solid #554488;
}  
.mcd-menu li ul li ul:before {
  content: "";
  position: absolute;
  top: 15px;
  /*left: -14px;*/
  /* == */
  left: 0px;
  /* == */
  border-left: 5px solid #554488;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
}
.mcd-menu li ul li:hover > ul {
  top: 0px;
  left: 152px;
}

.mcd-menu li>ul>li{
padding: 2px 15px;
    width: 150px;
    margin: 5px;
}
.mcd-menu li>ul>li>a{
    padding: 0px;
}
.navbar-brand{
        padding: 20px 25px;
}
.navbar-brand img{
        display: block;
    border: 8px solid rgba(0, 0, 0, .5);
    background: whitesmoke;
    border-style: double
}
.heroBg img{
    width: 100%;
    height: 90vh;
}